# https://docs.openstack.org/charm-deployment-guide/latest/config-openstack.html
export OS_AUTH_URL=http://10.251.30.196:5000/v2.0/
export OS_USERNAME=admin
export OS_PASSWORD=openstack
export OS_TENANT_NAME=admin